.input-field
{
    margin: 1%;
}
.errorMsg
{
    color: red;
}

@media only screen and (max-width: 769px){
.input-field
    {
        width:50vw !important;
        margin-left:5% !important;
    }
} 
@media only screen and (max-width: 600px){
.input-field
    {
        width:75vw !important;
        margin-left:5% !important;
    }
}