#navTitle{
  margin-top:1rem;
}
#tabBar{
  padding-top: 1.5rem;
}
#navbar{
 background-color:#00AE58;
 /* height: 15vh; */
}
#tabs{
 background-color: #009447;
}
/* #logintopNav{
 padding-bottom: 1rem;
} */
/* #navDrop{
 padding-right: 6rem;
} */
#logo{
 padding-left:20px;
}
/* .nav-extended{
  padding-bottom: 50px !important;
} */
#navWrapper{
  padding-top: 1rem;
}
.nav-content{
 padding-left:0 !important;
 padding-right:0 !important;
}