#navTitle{
  margin-top: 5px;
}
/* #tabBar{
  padding-top: 1.5rem;
} */
#navbar{
 background-color:#00AE58;
 height: 75px;
 border-bottom: 5px solid #009447;
 /* height: 15vh; */
}
#navLinks{
  margin-top: 5px;
  padding-right:1rem;
}

#logo{
  margin-top: 5px;
  padding-left:2rem;
}
.GSImage{
  width: 100px; 
  height: auto; 
}

/* #logintopNav{
 padding-bottom: 1rem;
} */
#navDrop{
 padding-right: 4rem;
}
/* .nav-extended{
  padding-bottom: 50px !important;
} */
/* #navWrapper{
  margin-top:10px
} */

.nav-content{
 padding-left:0 !important;
 padding-right:0 !important;
}





